@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.chair {
    padding-top: 35px;
	margin-top: 15px;
	display: flex;
    align-items: center;
    justify-content: center;
}
#name{
    font-family: 'Josefin Sans';
    font-size: 50px;
    padding-right: 30px;
    margin-right: 60px;
}
#price{
    font-family: 'Josefin Sans';
    font-size: 30px;

}